.content {
  display: grid;
  padding: 0 80px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .content {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 627px) {
  .content {
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 10px;
  }
}
