.modal {
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 57, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  padding: 0 10px;
}

.modal_is-open {
  visibility: visible;
}

.modal__content {
  min-width: 290px;
  max-width: 414px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.modal__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: rgb(34, 34, 57);
}

.modal__form {
  margin-top: 10px;
}

.modal__label {
  color: rgb(154, 154, 170);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.modal__input {
  appearance: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(240, 239, 244);
  border-radius: 10px;
  background-color: rgb(240, 239, 244);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 15px 20px;
  margin: 10px 0;
  color: rgb(34, 34, 57);
}

.modal__input::placeholder {
  color: rgb(33, 33, 33);
  opacity: 30%;
}

.modal__input:hover {
  background-color: rgba(247, 247, 249, 1);
  border: 1px solid rgba(247, 247, 249, 1);
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 16px;
  }

  .modal__label {
    font-size: 14px;
  }

  .modal__input {
    font-size: 16px;
  }
}
